html {
  font-size: 12px;
  width: 100%;
  height: 100%;
}
.amap-copyright {
  box-sizing: content-box;
}
* {
  box-sizing: border-box;
}
.input-textarea {
  color: grey;
  height: 8em;
  overflow: auto;
  border-radius: 0.4rem;
  border: 1px solid #ced4da;
  margin-bottom: 1rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 100;
  color: #666666;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  font-size: 14px;
}

hr {
  margin: 0.5rem 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#outer-box {
  height: 100%;
}

#container {
  height: 100%;
  width: 100%;
}

#panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  width: 300px;
  z-index: 999;
  border-left: 1px solid #eaeaea;
  background: #fff;
}

.scrollbar1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.scrollbar1::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
.scrollbar1::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
.clear {
  clear: both;
}

.toolsbar {
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  width: 100%;
  border-width: 0;
  /* box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.5); */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem 1.25rem;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.toolsbar .search {
  min-width: 684px;
}

.toolsbar .item {
  margin: 0 10px;
  display: flex;
}

.toolsbar .item.tools {
  align-items: center;
  height: 3rem;
}

.toolsbar .form-group span {
  font-size: 15px;
}

.toolsbar .form-group span::after {
  content: "：";
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.container .content {
  flex-grow: 1;
  display: flex;
}

.chancelist {
  width: 18%;
  height: 100%;
  padding-top: 55px;
  overflow: auto;
}

.chancelist .title {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: #f8f9f9;
  font-size: 16px;
}

.content_left {
  height: 100%;
  width: 32%;
  padding-top: 60px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.content_left .searchResultPanel {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.searchList {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

.searchList .resultItem {
  padding-left: 20px;
  border-bottom: 1px solid #ced4da;
  cursor: pointer;
  position: relative;
  padding: 10px 0 10px 20px;
}

.searchList .resultItem.selected {
  background: rgba(40, 44, 42, 0.05);
}

.searchList .resultItem:hover {
  background: rgba(40, 44, 42, 0.05);
}

.searchList .resultItem .resultItem_name {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.searchList .resultItem .resultItem_address {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}

.pagination {
  height: 40px;
  background: #e7ecea;
  line-height: 40px;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  display: none;
}

.pagination span {
  padding: 5px 10px;
  margin-right: 5px;
  background: #62a46585;
  width: 20px;
  cursor: pointer;
}

.pagination span:hover,
span.selected {
  background: #62a465;
}

.mapcontainer {
  height: 100%;
  flex-grow: 1;
  padding-top: 60px;
}

.chanceItem {
  border-bottom: 1px solid #ced4da;
  cursor: pointer;
  position: relative;
  padding: 10px 10px 10px 16px;
}

.chanceItem .eye {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 15px;
  display: none;
}

.chanceItem.selected {
  background: rgba(40, 44, 42, 0.05);
}

.chanceItem.selected .eye {
  display: block;
}

.chanceItem .chance_name {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
}

.chanceItem .chance_address {
  font-size: 12px;
  color: #999999;
  font-weight: 300;
}

.chanceItem:hover {
  background: rgba(40, 44, 42, 0.05);
}

#search_btn {
  cursor: pointer;
}

.chanceInfoPanel {
  width: 100%;
}

.chanceInfo {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#chance_location_btn span {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

#chance_location_btn:hover span {
  color: rgba(0, 0, 0, 0.8);
}

.estimateResults {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.estimateResults .nav {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.075);
  color: rgba(0, 0, 0, 0.8);
}

.estimateResults .nav button {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #cccccc;

  color: #ccc;
  background: #fff;
  border: 1px solid #cccc;
}

.estimateResults .nav button.selected {
  width: 100%;
  text-align: center;
  background: #22b394;
  border-radius: 6px;
  color: #fff;
}

.estimateResults .nav button:hover {
  width: 100%;
  text-align: center;
  background: #129177;
  border-radius: 6px;
  color: #fff;
}

.estimateResults .message {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 20px;
}

.estimateResultData {
  /* display: flex; */
  margin-top: 20px;
}

input.is-invalid {
  border: 1px solid red !important;
}

.invalid-feedback {
  color: red;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td {
  line-height: 24px;
  padding: 2px;
  vertical-align: middle;
}

.btn-primary {
  color: #fff;
  background-color: #22b394;
  border-color: #62b394;
}

.btn-primary:hover {
  color: #fff;
  background-color: #129177;
  border-color: #129177;
}

.btn {
  display: inline-block;
  padding: 4px 4px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}

.panel-heading {
  padding: 7px 17px;
  border-bottom: 1px solid transparent;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: inherit;
}

.panel-group .table {
  width: 100%;
  width: 100%;
  margin-bottom: 0;
}

.panel-body {
  padding: 0;
}

.panel-group .table > tbody > tr > td {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: inherit;
  line-height: 26px;
  width: 50%;
  padding-left: 10px;
}

#analysisDialog.modal td.quota-label {
  padding-left: 20px;
}

#analysisDialog .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #22b394;
  color: #fff;
  font-weight: 600;
}

#analysisDialog h4 {
  font-weight: 600;
}

#analysisDialog .form-control {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0px 12px 0px 4px;
  font-size: 14px;
  background-image: none;
  border-radius: 2px;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0px 12px 6px 4px;
  font-size: 14px;
  background-image: none;
  border-radius: 2px;
}

.chanceInfoPanel .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 4px;
  font-size: 14px;
  background-image: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

.chanceInfoPanel input,
input:focus,
select,
select:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #ccc !important;
}

.panel-default > .panel-heading {
  color: #666666;
}

#operationBar {
  display: flex;
}

#analysisInfo {
  flex-grow: 1;
  padding-left: 20px;
  text-align: left;
  color: #22b394;
}

#analysisInfo span {
  margin-left: 20px;
}

span.report {
  width: 100%;
  display: block;
  text-align: center;
}
