<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mn.modules.api.dao.PointerAddressDao">

    <sql id="query">
        <if test="qo.orderby!=null">
            select * from (
        </if>
        <if test="qo.lat !=null and qo.lng !=null and qo.distance !=null">
            select * from (
        </if>

        <if test="qo.labels != null and qo.labels != ''">
            SELECT distinct pa.* FROM pointer_address_t pa right join pointer_address_label_t pal on pa.id =
            pal.pointer_address_id where 1=1
        </if>

        <if test="qo.labels == null">
            select * from pointer_address_t pa where 1=1
        </if>
        <if test="qo.state != null">
            <![CDATA[
             and pa.state = #{qo.state}
        ]]>
        </if>
        <if test="qo.type != null">
            <![CDATA[
             and pa.type = #{qo.type}
        ]]>
        </if>
        <if test="userInfo != null and  userInfo.organizationId != null and userInfo.organizationId != ''">
            <![CDATA[
           and pa.organization_id = #{userInfo.organizationId}
        ]]>
        </if>
        <if test="qo.scope == 'province'">
            <![CDATA[
           and pa.province = #{qo.adcode}
        ]]>
        </if>
        <if test="qo.scope == 'city'">
            and pa.city = #{qo.adcode}
        </if>
        <if test="qo.scope == 'district'">
            and pa.district = #{qo.adcode}
        </if>
        <if test="qo.address != null">
            and pa.address like CONCAT('%',#{qo.address},'%')
        </if>
        <if test="qo.labels != null and qo.labels != ''">
            and pal.label_id in
            <foreach item="item" index="index" collection="qo.labels.split(',')" open="(" separator="," close=")">'${item}'</foreach>
        </if>
        <if test="qo.competitorIds !=null">
            and pa.id in
            <foreach item="item" index="index" collection="qo.competitorIds.split(',')" open="(" separator="," close=")">'${item}'</foreach>
        </if>
        <!--设置查询范围-->
        <if test="qo.lat !=null and qo.lng !=null and qo.distance !=null">
            <![CDATA[
            ) a where  ROUND(
            6378.137 * 2 *
            ASIN(
              SQRT(
                  POW(SIN(ABS(#{qo.lat} * PI() / 180 - a.lat * PI() / 180) / 2),2)
                 +COS(#{qo.lat} * PI() / 180) * COS(a.lat * PI() / 180)
                 *POW(SIN(ABS(#{qo.lng} * PI() / 180 - a.lng * PI() / 180) / 2),2)
                 )) * 10000)/10000 <= #{qo.distance}/1000
            ]]>
        </if>
        <if test="qo.orderby!=null">
            ) b order by ${qo.orderby}
        </if>
    </sql>

    <select id="queryPointerAddressList" resultType="com.mn.modules.api.entity.PointerAddress">
            <include refid="query"/>
    </select>


    <select id="queryPointerAddressList1" resultType="com.mn.modules.api.entity.PointerAddress">
        <include refid="query"/>
    </select>

</mapper>