<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mn.modules.api.dao.SharePointerAddressDao">

    <select id="querySharePointerAddressList" resultType="com.mn.modules.api.entity.SharePointerAddress">
        <if test="qo.lat !=null and qo.lng !=null and qo.distance !=null">
            select * from (
        </if>
        <if test="qo.labels != null and qo.labels != ''">
            SELECT distinct pa.* FROM share_pointer_address_t pa right join pointer_address_label_t pal on pa.id =
            pal.pointer_address_id where 1=1
        </if>
        <if test="qo.labels == null">
            select * from share_pointer_address_t pa where 1=1
        </if>
        <if test="qo.labels != null and qo.labels != ''">
            and pal.label_id in
            <foreach item="item" index="index" collection="qo.labels.split(',')" open="(" separator="," close=")">
                '${item}'
            </foreach>
        </if>

        <!--设置查询范围-->
        <if test="qo.lat !=null and qo.lng !=null and qo.distance !=null">
            <![CDATA[
             and (pa.lng> #{qo.lng}-1 and pa.lng < #{qo.lng}+1 and pa.lat > #{qo.lat}-1 and pa.lat < #{qo.lat}+1)  ) a where  ROUND(
            6378.137 * 2 *
            ASIN(
              SQRT(
                  POW(SIN(ABS(#{qo.lat} * PI() / 180 - a.lat * PI() / 180) / 2),2)
                 +COS(#{qo.lat} * PI() / 180) * COS(a.lat * PI() / 180)
                 *POW(SIN(ABS(#{qo.lng} * PI() / 180 - a.lng * PI() / 180) / 2),2)
                 )) * 10000)/10000 <= #{qo.distance}/1000
            ]]>
        </if>
    </select>

</mapper>